aiodns
aiopg
asynctest
connexion[aiohttp,swagger-ui]
flake8
isort[requirements]
pdbpp
prance[osv,cli]
psycopg2-binary
pudb
pylint
pytest
pytest-aiohttp
pycodestyle
pytest-cov
python-dateutil
uvloop
yoyo-migrations
